@{
    ViewData["Title"] = "Create";
}
@model DepartmentCreateDto

<h1>Departman oluştur.</h1>

<div class="row">
    <div class=col-md-6>
        <form asp-action="Create" method="post" asp-controller="Departments">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br /><br />

            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn-primary" />
            </div>
        </form>
    </div>
</div>